@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
nav{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #FFB6C1;
   justify-content: center;
   text-align: center;
   
    
} 
nav img{
    width: 100px;
    
}

    

nav a{
    text-decoration: red;
    font-size: 35px;
    width: 200px; height: 60pv;
    color: black;
    text-align: center;
    font-family: "EB Garamond", serif;
    

}

.logo{
    
    text-align: center;
}

.card {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px, 10px, 20px #000;
    text-align: center;
    color: #FFB6C1;
    font-family: "EB Garamond", serif;
    font-size: 25px;
}
.card img{
    width: 50%;
    border-radius: 20px 20px 0 0 ;
    

}
.targetas{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   
}
.welcome{
    padding: 20px;
    background-color:rgba(2, 65, 99, 0.934);
    text-align: center;
    color: rgb(154, 244, 244);
    font-family: "Big Shoulders Stencil", sans-serif;
}
.card:hover{
    transform: scale(1.1);
   
}
.card h2{
    color: #000;
    font-size: 25;
}
footer{
    text-align: center;
    padding: 30px;
    background-color: rgb(128, 128, 128);
    color: black;
    font-family: "EB Garamond", serif;
    margin: 0px;
    font-size: 30px;
} 
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(26, 26, 102);
}
.card2 {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px, 10px, 20px #000;
    text-align: center;
    color: #FFB6C1;
    font-family: "EB Garamond", serif;
    font-size: 25px;
    
}
.card2 img{
    width: 50%;
    border-radius: 20px 20px 0 0 ; 
}
.card2 h2{
    color: #000;
    font-size: 25;
}
.card2:hover{
    transform: scale(1.1);
}
.pelon{
    overflow: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: "EB Garamond", serif;
    justify-content: space-evenly;
    
}
.pelon p{
    font-size: 18px;
    line-height: 1.4;
    font-family: "EB Garamond", serif;
}
.info button{
    border-radius: 20px;
    font-size: 20px;
    font-family: "EB Garamond", serif;
    background-color:#FFB6C1 ;

  }
  .info button a{
    color: #000;
    text-decoration: none;
  }
  body{
    background-color: #C8A2C8;
 }
